# ========================================================================
#   Python Byte-compiled Files
# ========================================================================
*.pyc
*.pyo
*.pyd
__pycache__/
.Python

# ========================================================================
#   Environment and Dependencies
# ========================================================================
.env
.env.local
.env.*.local
env/
venv/

# ========================================================================
#   Testing and Cache
# ========================================================================
.pytest_cache/

# ========================================================================
#   Logs
# ========================================================================
*.log

# ========================================================================
#   System Files
# ========================================================================
.DS_Store

# ========================================================================
#   Project Specific
# ========================================================================
archive/
export/
annielytics.conf
xgboost-demo.service
server/